/* main .dashboard container */
.dashboard {
    min-width: 115rem;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

/* main layout of cstr  */
.dashboard .main-layout {
    height: auto;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.dashboard .main-layout #start-button {
    width: 100px;
    margin: 0px 10px 0px 10px;
    padding: 5px;
}

.dashboard .main-layout #stop-button {
    width: 100px;
    margin: 10px 10px 10px 10px;
    padding: 5px;
}

/* CSTR layout  */
.dashboard .main-layout .cstr-layout {
    height: auto;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}


.dashboard .main-layout .cstr-layout header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}


.dashboard .main-layout .cstr-layout header h1 {
    color: black;
    font-size: 20px;
    margin-left: 10px;
}

.dashboard .main-layout .cstr-layout .layout {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 15px;
    align-self: center;
}


.dashboard .main-layout .cstr-layout .btn {
    padding: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.green {
    background: #4CAF50;
    color: white;
}



.dashboard .main-layout .cstr-layout .process {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 550px;
    min-width: 100rem;
    align-self: center;
}

/* -------------section 1 code start--------  */

.process .section-1 {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* ---------section 1, pipe section start here-----------  */

.pipe-1 {
    height: 127px;
    width: 10px;
    margin-top: 62px;
    margin-right: 393px;
    color: black;
    text-align: center;
    position: absolute;
    box-shadow: inset 0 0 20px rgb(30, 82, 237), inset 0 0 10px rgb(13, 5, 105);
    background: linear-gradient(#010166);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pipe-2 {
    height: 44px;
    width: 11px;
    margin-top: -133px;
    margin-right: 73px;
    color: black;
    text-align: center;
    position: absolute;
    border: 1px groove #d4d4dd;
    box-shadow: inset 0 0 20px rgb(30, 82, 237), inset 0 0 10px rgb(13, 5, 105);
    background: linear-gradient(#010166);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.pipe-3 {
    height: 11px;
    width: 99px;
    margin-top: -171px;
    margin-right: -17px;
    position: absolute;
    /* border: 1px groove #d4d4dd; */
    box-shadow: inset 0 0 20px rgb(30, 82, 237), inset 0 0 10px rgb(13, 5, 105);
    background: linear-gradient(#010166);
    border-top-left-radius: 5px;
}

.pipe-4 {
    height: 11px;
    width: 78px;
    position: absolute;
    margin-top: 196px;
    margin-right: 326px;
    position: absolute;
    /* border: 1px groove #d4d4dd; */
    box-shadow: inset 0 0 20px rgb(30, 82, 237), inset 0 0 10px rgb(13, 5, 105);
    background: linear-gradient(#010166);
    border-bottom-left-radius: 5px;
}

.pipe-4-4 {
    height: 11px;
    width: 54px;
    position: absolute;
    margin-top: -53px;
    margin-right: 339px;
    position: absolute;
    /* border: 1px groove #d4d4dd; */
    box-shadow: inset 0 0 20px rgb(30, 82, 237), inset 0 0 10px rgb(13, 5, 105);
    background: linear-gradient(#010166);
    border-top-left-radius: 5px;
}

.pipe-4-4-1 {
    height: 11px;
    width: 54px;
    position: absolute;
    margin-top: -98px;
    margin-right: 117px;
    position: absolute;
    /* border: 1px groove #d4d4dd; */
    box-shadow: inset 0 0 20px rgb(30, 82, 237), inset 0 0 10px rgb(13, 5, 105);
    background: linear-gradient(#010166);
    border-bottom-right-radius: 5px;
}

.pipe-5 {
    height: 11px;
    width: 152px;
    position: absolute;
    margin-top: -172px;
    margin-right: -334px;
    position: absolute;
    /* border: 1px groove #d4d4dd; */
    box-shadow: inset 0 0 20px rgb(30, 82, 237), inset 0 0 10px rgb(13, 5, 105);
    background: linear-gradient(#010166);
    border-bottom-right-radius: 5px;
}

/* heater code start */
.dashboard .main-layout .cstr-layout .process .pump-cv-1 .heater {
    width: 150px;
    height: 150px;
    position: relative;
    align-self: self-start;
}

.dashboard .main-layout .cstr-layout .process .pump-cv-1 .heater img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    transform: scaleX(-1);
}

/* heater code end  */

/* CV VALVE CSS */

.pump-cv-1 {
    height: 345px;
    width: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    align-items: center;
    /* margin-top: -30px; */
}

.process .CV-Valve-1 {
    width: 165px;
    height: 100px;
    text-align: center;
    align-self: self-end;
    display: flex;
    flex-direction: column;
    /* background-color: #4CAF50; */
    position: relative;
}

.process .CV-Valve-1 #CV-ON-OFF-1 {
    color: #0a0a0a;
    align-self: center;
    width: 50%;
    background-color: #58a6f5;
    text-align: center;
}

.process .CV-Valve-1:hover {
    color: orange;
}

.process .CV-Valve-1 .valve-CV-1 {
    height: 100px;
    width: 100%;
    /* background-color: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.process .CV-Valve-1 .valve-CV-1 img {
    height: 100px;
    width: 150px;
    object-fit: contain;
    display: block;
    margin: auto;
    /* transform: scaleX(-1); */
    transform: scaleX(-1);
}

.dashboard .main-layout .cstr-layout .process .pump {
    width: 100%;
    height: 200px;
    /* border: 2px solid #ebe9e9; */
    display: flex;
    text-align: center;
    flex-direction: row;

}

.dashboard .main-layout .cstr-layout .process .pump .pump-img {
    height: 70px;
    width: 100px;
    /* background-color: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-self: flex-end;
}


.dashboard .main-layout .cstr-layout .process .pump .pump-img img {
    height: 140px;
    width: 150px;
    object-fit: contain;
    display: block;
}


/* ---------------section 1 ends here -------------------- */

/* ---------------------section 2 start here-----------------  */

.pipe-6 {
    height: 206px;
    width: 10px;
    position: absolute;
    margin-top: 232px;
    margin-right: -10px;
    position: absolute;
    /* border: 1px groove #d4d4dd; */
    box-shadow: inset 0 0 20px rgb(30, 82, 237), inset 0 0 10px rgb(13, 5, 105);
    background: linear-gradient(#010166);
    border-bottom-right-radius: 5px;
}

.pipe-7 {
    height: 11px;
    width: 173px;
    margin-top: 426px;
    margin-right: -177px;
    position: absolute;
    /* border: 1px groove #d4d4dd; */
    box-shadow: inset 0 0 20px rgb(30, 82, 237), inset 0 0 10px rgb(13, 5, 105);
    background: linear-gradient(#010166);
    border-bottom-right-radius: 5px;
}

.pipe-8 {
    height: 11px;
    width: 202px;
    margin-top: -247px;
    margin-right: -370px;
    position: absolute;
    /* border: 1px groove #d4d4dd; */
    box-shadow: inset 0 0 20px rgb(30, 82, 237), inset 0 0 10px rgb(13, 5, 105);
    background: linear-gradient(#010166);
    border-bottom-right-radius: 5px;
}


.pipe-9 {
    height: 11px;
    width: 86px;
    margin-top: -87px;
    margin-right: -487px;
    position: absolute;
    /* border: 1px groove #d4d4dd; */
    box-shadow: inset 0 0 20px rgb(30, 82, 237), inset 0 0 10px rgb(13, 5, 105);
    background: linear-gradient(#010166);
    border-bottom-right-radius: 5px;
}

.pipe-10 {
    height: 82px;
    width: 10px;
    position: absolute;
    margin-top: -158px;
    margin-right: -407px;
    position: absolute;
    /* border: 1px groove #d4d4dd; */
    box-shadow: inset 0 0 20px rgb(30, 82, 237), inset 0 0 10px rgb(13, 5, 105);
    background: linear-gradient(#010166);
    border-bottom-left-radius: 5px;
}


/* stirrer code start  */
.stirrer {
    height: 53px;
    width: 200px;
    /* background-color: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: -50px;
}

.stirrer img {
    height: 130px;
    width: 226px;
    object-fit: contain;
    display: block;
    margin: auto;
}


h3 {
    display: inline;
}



/* pressure transmitter code  */
.pressure-box {
    position: absolute;
    height: 44px;
    width: 138px;
    /* background-color: #4CAF50; */
    margin-bottom: 29rem;
    margin-right: 15rem;
    display: flex;
    flex-direction: row;
}


.pressure-box #pressure-img {
    height: 20px;
    display: inline;
    width: 50px;
    ;
    /* background: blue; */
}

.pressure-box #pressure-display {
    height: 40px;
    width: 283px;
    display: block;
    background: grey;
    /* border-radius: 10px; */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.pressure-box #pressure-display #pressure-value {
    display: inline-block;
    font-size: 10px;
    background: black;
    width: 50%;
    text-align: center;
    text-shadow: 0 0 8px #00ffd5, 0 0 15px #00a3a3;
    color: white;
}

.pressure-box img {
    width: 39px;
    height: 50px;
    object-fit: contain;
    display: block;
    margin: auto;
    /* background-color: #58a6f5; */
    align-self: flex-end;
    margin-top: 5px;
    margin-left: 0px;
    transform: scaleX(-1);
}

/* pressure transmitter code end  */

/* reactor code start  */
.dashboard .main-layout .cstr-layout .process .reactor {
    width: 300px;
    height: 320px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -40px;
}

.reactor-img {
    position: absolute;
    transition: all 400ms ease;
}

.reactor-img img {
    width: 300px;
    height: 320px;
    object-fit: contain;
    /* keeps image ratio */
    display: block;
    margin: auto;
    overflow: hidden;
}



/* .dashboard .main-layout .cstr-layout .process .reactor .reactor_bar {
    width: 16px;
    position: absolute;
    bottom: 0px;
    margin-left: 3px;
    background: linear-gradient(to top, rgb(17, 180, 216));
    height: 0%;
    transition: height 0.5s ease-in-out;
    border-bottom-left-radius: 10px;
    margin-bottom: 4px;
} */

/* .dashboard .main-layout .cstr-layout .process .reactor .tank-outside {
    height: 105px;
    width: 41px;
    bottom: 44px;
    margin-left: 65px;
    border: 1px groove white;
    position: absolute;
    border-radius: 10px;
    box-shadow: inset 0px 4px 6px rgb(30, 25, 25);
    display: flex;
    background: linear-gradient(white, #bcbec0);
} */

/* .dashboard .main-layout .cstr-layout .process .reactor .tank-outside .scale-number .scale {
    color: black;
    font-size: 7px;
} */

/* .dashboard .main-layout .cstr-layout .process .reactor .tank-outside .scale-number {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: end;
    width: 50%;
    border-radius: 10px;
    margin-left: 17px;
} */

/* ---------------RTD CODE START here */

.Temp-display {
    position: absolute;
    height: 50px;
    width: 200px;
    /* background-color: #555; */
    margin-top: 150px;
    margin-right: 195px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Temp-display .RTD-img {
    height: 100%;
    width: 50%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.Temp-display .RTD-img img {
    height: 67px;
    width: 38px;
    rotate: 270deg;
    /* margin-left: 10px; */
    transform: scaleX(-1);

}

.Temp-display .Temp-box {
    /* height: 37px; */
    width: 138px;
    background: linear-gradient(grey);
    text-align: center;
    border: 1px solid black;
}

.Temp-display .Temp-box #Temp-Value {
    display: inline-block;
    font-size: 10px;
    background: black;
    width: 50%;
    text-align: center;
    text-shadow: 0 0 8px #00ffd5, 0 0 15px #00a3a3;
    color: white;
}

.Temp-display .Temp-box span {
    font-size: 10px;
    color: white;
    display: block;
}

/* ---------------RTD CODE START here end*/

.process .CV-Valve-2 {
    width: 165px;
    height: 100px;
    text-align: center;
    align-self: self-end;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: #4CAF50; */
    position: relative;
}

.process .CV-Valve-2 #CV-ON-OFF-2 {
    color: #0a0a0a;
    width: 50%;
    background-color: #58a6f5;
}

.process .CV-Valve-2 .valve-CV-2 {
    height: 100px;
    width: 100%;
    /* background-color: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.process .CV-Valve-2 .valve-CV-2 img {
    height: 100px;
    width: 150px;
    object-fit: contain;
    display: block;
    margin: auto;
    /* transform: scaleX(-1); */
    transform: scaleX(-1);
}


.process .CV-Valve-2:hover {
    color: white;
}

/* ---------------------section 2 ends here-----------------  */



/* --------------------section 3 start here---------------  */

/* -----------------section 3 pipe code start here------------------ */
.pipe-15 {
    height: 2px;
    width: 237px;
    position: absolute;
    margin-top: -202px;
    margin-right: -51px;
    color: black;
    text-align: center;
    z-index: 10;
    border: 1px solid #00ffd5;
    box-shadow: 0 0 20px rgba(0, 255, 213, 0.3), inset 0 0 10px rgba(0, 255, 213, 0.1);
}

.pipe-16 {
    height: 2px;
    width: 235px;
    position: absolute;
    margin-top: -33px;
    margin-right: -51px;
    color: black;
    text-align: center;
    z-index: 10;
    border: 1px solid #00ffd5;
    box-shadow: 0 0 20px rgba(0, 255, 213, 0.3), inset 0 0 10px rgba(0, 255, 213, 0.1);
}

.pipe-17 {
    height: 67px;
    width: 2px;
    position: absolute;
    margin-top: -138px;
    margin-right: -285px;
    color: black;
    text-align: center;
    z-index: 10;
    border: 1px solid #00ffd5;
    box-shadow: 0 0 20px rgba(0, 255, 213, 0.3), inset 0 0 10px rgba(0, 255, 213, 0.1);

}

.pipe-18 {
    height: 97px;
    width: 2px;
    position: absolute;
    margin-top: 63px;
    margin-right: -285px;
    color: black;
    text-align: center;
    z-index: 10;
    border: 1px solid #00ffd5;
    box-shadow: 0 0 20px rgba(0, 255, 213, 0.3), inset 0 0 10px rgba(0, 255, 213, 0.1);
}

/* all pumps code  */
.dashboard .main-layout .cstr-layout .process .All-pumps {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-self: self-start; */
    text-align: center;
    gap: 10px;

}

.dashboard .main-layout .cstr-layout .process .All-pumps #pump-A {
    height: 70px;
    width: 100%;
    /* background-color: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.dashboard .main-layout .cstr-layout .process .All-pumps #pump-A img {
    height: 120px;
    width: 130px;
    object-fit: contain;
    display: block;
}


.dashboard .main-layout .cstr-layout .process .All-pumps #pump-B {
    height: 70px;
    width: 100%;
    /* background-color: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.dashboard .main-layout .cstr-layout .process .All-pumps #pump-B img {
    height: 120px;
    width: 130px;
    object-fit: contain;
    display: block;
}


/* tank code start  */
.dashboard .main-layout .cstr-layout .tank-product {
    width: 80px;
    height: 80px;
    background: linear-gradient(grey, rgb(219, 221, 209));
    display: flex;
    justify-content: center;
    align-self: start;
    color: black;
    transition: all 400ms ease;
    margin-top: 72px;
    border-radius: 10px;
    border: 2px groove whitesmoke;
}

.dashboard .main-layout .cstr-layout .tank-product #product-text {
    font-size: 10px;
}


/* ------------------section 3 ends here------------------  */


/* -----------------------section 4 start here---------------------------  */

/* ------------------section 4 pipe code start here--------------- */

.pipe-19 {
    height: 2px;
    width: 113px;
    border: 1px solid #00ffd5;
    box-shadow: 0 0 20px rgba(0, 255, 213, 0.3), inset 0 0 10px rgba(0, 255, 213, 0.1);
    position: absolute;
    margin-top: 158px;
    margin-right: 239px;
    color: black;
    text-align: center;
}

.pipe-20 {
    height: 2px;
    width: 105px;
    border: 1px solid #00ffd5;
    box-shadow: 0 0 20px rgba(0, 255, 213, 0.3), inset 0 0 10px rgba(0, 255, 213, 0.1);
    position: absolute;
    margin-top: -72px;
    margin-right: 245px;
    color: black;
    text-align: center;
}



/* reactant tanks A and B */
.dashboard .main-layout .cstr-layout .tank-reactant {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: self-start;
    text-align: center;
    align-items: center;
    /* background-color: #4CAF50; */
    gap: 10px;
}

.dashboard .main-layout .cstr-layout .tank-reactant #Reactant-tank-A {
    width: 300px;
    height: 150px;
    transition: all 400ms ease;
    /* border: 2px solid #847d7d; */
}

.dashboard .main-layout .cstr-layout .tank-reactant #Reactant-tank-A img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* ------------------------------------------------------------------------------- */

.dashboard .main-layout .cstr-layout .tank-reactant #Reactant-tank-B {
    width: 300px;
    height: 150px;
    transition: all 400ms ease;
}


.dashboard .main-layout .cstr-layout .tank-reactant #Reactant-tank-B img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* reatank code end  */

/* -----------------------section 4 ends here---------------------------  */